.navbar 
{
        margin-bottom: 0;
        border-radius: 0;
}
    
.row.content
{
    height: 450px
}

.sidenav
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff0000;
    height: 100%;
}


footer
{
    background-color: #646164;
    color: rgb(255, 255, 255);
    padding: 15px;
}

@media screen and (max-width: 767px)
{
    .sidenav
    {
        height: auto;
    }
    .row.content {height:auto;} 
}

#logo
{
    position: absolute;
    width: 200px;
    height: 100px;

    top:10px;
    left:4%;

}

#logo img
{
    max-height:40px;
}


